body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

button {
    padding: 0.7rem 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.6);
    color: #f9f9f9;
}