* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-container {
    background-image: url('/homework3/assets/backgroup.jpg');
    background-size: cover;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: textAnimation 5s ease-in-out infinite;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 470;
    }

    80% {
        fill: transparent;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}

.right-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.right-container form {
    display: flex;
    flex-direction: column;
}

input, button{
    padding: 15px;
    width: 500px;
    margin: 5px 0px;
    border-radius: 15px;
    border: none;
}

button {
    background-color: rgb(43, 76, 226);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.01) translateY(-3px);
}

.forget-acc {
    padding: 15px;
    width: 500px;
    margin: 5px 0px;
    border-radius: 15px;
    text-align: center;
    
}

.forget-acc a {
    text-decoration: none;
}

.create-acc {
    padding: 15px;
    width: 500px;
    margin: 10px 0px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0,0,0, 0.3);
    transition: all 0.3s ease;
}


.create-acc a {
    color: white;
    text-decoration: none;
}

.create-acc:hover {
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 0 0 10px rgba(171, 101, 101, 0.5);
    transform: translateY(-5px);
}

.router {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
}

.router a{
    text-decoration: none;
    background-color: rgb(13, 55, 153);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease-in-out;
}

.router a:hover {

    box-shadow: 0 0 20px 5px rgba(0,0,0, 0.3);
}