* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial sans-serif;
    background-color: #f5f5f5;
}

.above-info {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

.logo {
    color: white;
    margin-left: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    background-color: #fff;
}

.header ul li {
    display: flex;
    
}

