* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
}


ul { list-style: none; }
a { text-decoration: none; }
.p-20 { padding: 20x; }


/* Header */
header {
    background-color: #ffffff;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-items: center;
}


.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}


.flex-container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 16.5rem;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}

.grid-item {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.grid-container .grid-item:hover {
    transform: translateY(-4px) scale(1.05);
}

